@import "colors";

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

body {
	& > header {
		background-color: $cyan;
	}
}

main {
	background-color: $goldenrodyellow;
}

footer {
	background-color: $coral;
}